@charset "UTF-8";
/* CSS Document */
@import "reset.css";
@import "fonts.css";

*,*:before,
*:after {
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
box-sizing:border-box;
}
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body::-webkit-scrollbar {
    width: 6px;
}
body::-webkit-scrollbar-thumb {
  background-color: #fad215;
  outline: 1px solid #fff;
}
html {
	-webkit-font-smoothing: antialiased;
}
body {
	line-height: 1;
	font-size:16px "100%";
	font-family:"Karbon-Light" , sans-serif;
	color:#000;

}
img {
	width:100%;
	display:block;
}
a {
	text-decoration:none;

}
figure img {
	max-width:100%;
}


#global-header {
	width:100%;
	height:100vh;
	overflow:hidden;
	position:relative;
}
#global-header {
	background:url(../_images/bg-image.png) no-repeat;
	background-size:cover;
}
#about,
#contact  {
	background:url(../_images/banner-web-dev.jpg) no-repeat;
	background-size:cover;
  height: 100vh;
  color: #fff;
}
 .interest {
    width: 25em;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
    margin-top:10px;
}
#contact .interest input {
  display: inline-block;
  border:0;
  text-align: center;
  font-size: 22px;
  height: 50px;
  line-height: 50px;
}
#contact input[type='submit'] {
    margin: 10px 0;
    background:#fff;
    padding:5px;
    cursor: pointer;
    line-height: 40px;
    float: left;

}
#contact .interest textarea {
  display: block;
    width: 100%;
    margin-top: 10px;
    font-size: 20px;
    outline: 0;
    border: 0;
    padding: 10px;
    height: 12em;
}
#portfolio {
	background:#222222;
  height: 100vh;
  color: #fff;
}

.content {
    position: absolute;
    left: 50%;
    top: 20%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
    width:36em;
    padding:20px;
    font-size: 25px;
    line-height: 32px;
    text-align: center;
}

.user-style {
  background: #fff;
    color: #000;
    padding: 5px;
    font-size: 30px;
}
.interest .user-style {
  font-size:20px;
  margin-left:10px;
}
#portfolio .interest em {
  background:#e50606;
  color:#fff;
}
#portfolio h3 {
  font-weight: bold;
}
.interest h3 {
  float:left;
  display: inline-block;
}
.content h2 {
  font-size: 70px;
  text-align:center;
  font-weight: bold;
  margin-bottom: 30px;
}
#nav-header {
  width:80px;
  background-color:#fff;
  height: 100%;
  float:left;
}
.global-header-content .logo {
  width: 150px;
  height: 150px;
  margin:0 auto;
}
.global-header-content{
  color:#fff;
	width:500px;
	height:250px;
	position:absolute;
	left:50%;
	top:35%;
	-webkit-transform:translate(-50%,-35%);
	-moz-transform:translate(-50%,-35%);
	transform:translate(-50%,-35%);
}
.global-header-content h2 {
  font-size: 120px;
    text-align: center;
}
.global-header-content h3 {
   font-size:40px;
   text-align:center;
   font-family: "Karbon-Thin",serif;
}
.fix-icon {
    width: 30px;
    margin-top: 50px;
    margin-left: 40px;
    position: absolute;
    transform: translateX(400px);
    transition: all .25s ease;
}

#nav-header {
    background-color: #fff;
    height: 100%;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 500px;
    z-index: 100;
    -webkit-transition: all 0.4s cubic-bezier(0.49, 0.66, 0.57, 0.99);
    transition: all 0.4s cubic-bezier(0.49, 0.66, 0.57, 0.99);
    position: fixed;
    top: 0;
    -webkit-transform: translateX(-420px);
    -moz-transform: translateX(-420px);
    transform: translateX(-420px);
    cursor: pointer;
}
#nav-header:hover {
  -webkit-transform:translateX(0px);
  -moz-transform:translateX(0px);
  transform:translateX(0px);
}
#nav-header:hover .fix-icon {
  transform: translateX(400px);
}
.nav-menu {
    display: inline-block;
    position: relative;
    top: 30%;
    margin-left: 50px;
}

.menu {
    position: absolute;
    right: 0;
    top: 40%;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    transform: rotate(90deg);
    right: 10px;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
}
.nav-menu li a {
    font-size: 25px;
    line-height: 40px;
    font-family: "Karbon-Light",serif;
    color:#000;
    text-transform: capitalize;
}

.socials li {
  display: inline-block;
  float:left;
  margin-right:5px;
}
.socials li a {
  margin-right:10px;
}
.socials > p {
  font-size:30px;
  text-transform: lowercase;;
  font-weight: bold;
  margin: 20px 0 10px 0;
}
.gallery-listing li {
  float: left;
  width: 50%;
}
